<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>레시피 목록</title>
    <link rel="stylesheet" href="/board/css/recipe-list.css">
</head>
<!--header 공통 파일 header 들어가는 부분에 이 두줄 코드 넣을 것!-->
<!-- templates/header/header.html을 찾고 그 파일 안에서 fragment header를 가져오기 -->
<div th:replace="~{header/header :: header}"></div>
<!--header 끝-->
<body>
<div class="container">
    <div class="page-header">
        <h2>레시피 목록</h2>
        <a th:href="@{/recipe/write}" class="write-btn">
            + 레시피 등록
        </a>
    </div>
    <div class="category">
        <button class="active">전체</button>
        <button>한식</button>
        <button>중식</button>
        <button>양식</button>
        <button>일식</button>
    </div>
    <div class="top-info">
        <p>총 <span>1,248개</span>의 맛있는 레시피</p>

        <div class="sort">
            <button>최신순</button>
            <button>조회순</button>
        </div>
    </div>
    <div class="recipe-list">
        <!-- 이 부분이 반복 됨 여길 each로 돌리면 된다.-->
        <a th:href="@{/recipe/{id}(id=${post.id})}" class="recipe-card" th:each="post : ${recipePosts}">
            <div class="recipe-card">
                <div class="image">
                    <img th:src="${post.mainImage}">
                </div>

                <div class="content">
                    <span class="tag" th:text="${post.categoryName}">한식</span>
                    <h3 th:text="${post.title}">정통 전주 비빔밥의 비밀 레시피</h3>
                    <div class="writer">
                        <span th:text="${post.memberName}">김셰프</span>
                        <span>👁<span th:text="${post.viewCount}">1.2K</span></span>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="pagination">
        <button>&lt;</button>
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>&gt;</button>
    </div>
</div>
</body>
</html>