<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>요리 꿀팁</title>
    <link rel="stylesheet" href="/board/css/tip-list.css">
</head>
<body>

<div class="container">

    <div class="header">
        <div>
            <h2>요리 꿀팁!</h2>
            <p>당신만의 소중한 요리 꿀팁을 이웃들과 공유해보세요!</p>
        </div>

        <button class="write-btn">
            ✏ 꿀팁 등록하기
        </button>
    </div>

    <div class="tip-list">

        <div class="tip-card">
            <div class="tip-info">
                <h3>요리 꿀팁 게시글1: 완벽한 수란 만드는 비법</h3>

                <div class="meta">
                    작성자 : 베테랑
                    <span>2024.05.20</span>
                    <span>👁 1,240</span>
                </div>
            </div>

            <div class="arrow">〉</div>
        </div>

        <div class="tip-card">
            <div class="tip-info">
                <h3>요리 꿀팁 게시글2: 눅눅해진 튀김 다시 바삭하게 살리기</h3>

                <div class="meta">
                    작성자 : 박봉상
                    <span>2024.05.19</span>
                    <span>👁 856</span>
                </div>
            </div>

            <div class="arrow">〉</div>
        </div>

        <div class="tip-card">
            <div class="tip-info">
                <h3>요리 꿀팁 게시글3: 5분 만에 끝내는 마늘 빨리 다지는 노하우</h3>
                <div class="meta">
                    작성자 : 최지원
                    <span>2024.05.18</span>
                    <span>❤ 2.4k</span>
                </div>
            </div>

            <div class="arrow">〉</div>

        </div>

        <div class="tip-card">
            <div class="tip-info">
                <h3>요리 꿀팁 게시글4: 남은 와인 활용한 스테이크 소스 만들기</h3>

                <div class="meta">
                    작성자 : 요리왕
                    <span>2024.05.17</span>
                    <span>👁 521</span>
                </div>
            </div>

            <div class="arrow">〉</div>
        </div>

        <div class="tip-card">
            <div class="tip-info">
                <h3>요리 꿀팁 게시글5: 칼날 무뎌졌을 때 사기그릇으로 갈기</h3>

                <div class="meta">
                    작성자 : 마미
                    <span>2024.05.16</span>
                    <span>👁 1,092</span>
                </div>
            </div>

            <div class="arrow">〉</div>
        </div>

    </div>

    <div class="pagination">

        <button>〈</button>

        <button class="active">1</button>

        <button>2</button>

        <button>3</button>

        <button>4</button>

        <button>5</button>

        <button>〉</button>

    </div>

</div>

</body>
</html>