<!---->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>오늘 뭐 먹지?</title>
    <link rel="stylesheet" href="/board/css/today-menu.css">
</head>

<!--header 삽입 코드 한줄 !-->
<div th:replace="~{header/header :: header}"></div>

<body>
<div class="container">
    <h2>오늘 뭐 먹지 ??</h2>
    <p class="sub-title">메뉴 결정이 어려우신가요? 카테고리를 선택하면 오늘 먹을만한 요리를 추천해 드립니다!</p>
    <div class="content">
        <!-- 왼쪽 -->
        <div class="category-box">
            <h3>❌ 대표 카테고리 1개를 선택하세요!</h3>
            <form method="get" th:action="@{/today/recommend}">
                <button type="submit" name="categoryId" value="1" class="category">
                    <span class="icon">🍴</span>한식 (Korean)
                </button>
                <button type="submit" name="categoryId" value="2" class="category">
                    <span class="icon">🥗</span>양식 (Western)
                </button>
                <button type="submit" name="categoryId" value="3" class="category">
                    <span class="icon">🥟</span>중식 (Chinese)
                </button>
                <button type="submit" name="categoryId" value="4" class="category">
                    <span class="icon">🍜</span>일식 (Japanese)
                </button>
            </form>
            <p class="notice">(해당 카테고리 중 무작위로 하나 추천)
            </p>
        </div>
        <!-- 오른쪽 -->
        <div class="result-box" th:if="${post == null}">
            <div class="question">?</div>
            <h3>어떤 메뉴를 먹을지 정하지 못하셨나요?</h3>
            <p>
                왼쪽에서 먹고 싶은 장르를 선택해 보세요.<br>
                최고의 외식메뉴를 골라 드릴게요!
            </p>
        </div>
        <div class="result-box" th:if="${post != null}">
            <img th:if = "${post.mainImage == null}" src="https://loremflickr.com/300/200/food?lock=21" alt="레시피 이미지">
            <img th:if = "${post.mainImage != null}" th:src="@{/recipe/main-image(filename=${post.mainImage})}" alt="레시피 이미지">
            <h3 th:text="${post.title}"></h3>
            <p><span th:text="${post.categoryName}"></span> | <span th:text="${post.memberName}"></span></p>
            <a th:href="@{/recipe/detail(id=${post.id})}">레시피 보러가기</a>
        </div>
    </div>
</div>
<script th:inline="javascript">
    const message = [[${message}]];
    if (message)
    {
        alert(message);
    }
</script>
</body>
</html>