*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Pretendard", sans-serif;
}

body{
    background:#fdf7f3;
    color:#333;
}

.container{
    width:1100px;
    margin:40px auto;
}

h2{
    font-size:28px;
    margin-bottom:8px;
}

.sub-title{
    color:#777;
    margin-bottom:25px;
}

.content{
    display:flex;
    gap:25px;
}

/* 왼쪽 */

.category-box{
    width:280px;
    background:#fff;
    border:1px solid #f1d5c8;
    border-radius:12px;
    padding:20px;
}

.category-box h3{
    color:#d35400;
    margin-bottom:20px;
    font-size:17px;
}

.category{
    width:100%;
    display:flex;
    align-items:center;
    gap:12px;
    padding:15px;
    margin-bottom:15px;

    border:1px solid #ddd;
    border-radius:10px;
    background:white;

    cursor:pointer;
    font-size:16px;

    transition:.2s;
}

.category:hover{
    background:#fff5ef;
    border-color:#ff9966;
}

.icon{
    width:35px;
    height:35px;
    border-radius:50%;
    background:#fff2eb;
    display:flex;
    justify-content:center;
    align-items:center;
}

.notice{
    text-align:center;
    color:#999;
    font-size:13px;
    margin-top:20px;
}

/* 오른쪽 */

.result-box{
    flex:1;
    border:2px dashed #f2c8b7;
    border-radius:12px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    min-height:420px;
}

.question{

    width:90px;
    height:90px;

    border-radius:50%;

    background:#ece3df;

    color:#7f6b63;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:50px;
    font-weight:bold;

    margin-bottom:30px;
}

.result-box h3{
    margin-bottom:15px;
}

.result-box p{
    color:#888;
    text-align:center;
    line-height:1.8;
}